<!-- <mat-card class="register-card">
  <mat-card-content>
    <div class="alert-info">
      <span>Email: test@mail.com</span>
      <span>Password: test</span> -->
      <!-- <span class="line"></span>
      <span>Login: admin@mail.com</span>
      <span>Password: admin</span> -->
  <!-- </div>
    <h2>Login</h2>
    <div class="forms-content">
      <form [formGroup]="loginForm" class="login-form">
        <mat-form-field appearance="fill">
          <mat-label>Login</mat-label>
          <input matInput formControlName="login">
          <mat-error *ngIf="loginForm.get('login')!.invalid">{{getErrorMessageLogin()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password">
          <mat-error *ngIf="loginForm.get('password')!.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </form>
        <div class="btns-confirm">
          <img *ngIf="loading" src="./assets/gif/download.gif"/>
          <a mat-button routerLink="/auth/registration" style="cursor: pointer;">Registration</a>
          <button
            mat-raised-button
            type="submit"
            [disabled]="!loginForm.valid"
            (click)="onLogin()">
            Login
          </button>
        </div>
        <div *ngIf="error" class="alert-danger">{{errorMessage}}</div>
    </div>

  </mat-card-content> -->
  <p>login-component works</p>
