<article>
  <div class="trans-wrapper">
    <h1>Transactions</h1>
    <app-transactions-item
      *ngFor="let moneyEl of transactions"
      [moneyAccount]="moneyEl">
    </app-transactions-item>
    <button
      *ngIf="transactions.length"
      mat-raised-button
      color="accent"
      matTooltip="Open all transactions"
      (click)="onOpenTransactions()"
    >
      {{ReadMore ? 'More...' : 'Less...'}}
    </button>
    <h3
      *ngIf="!transactions.length">There are no transactions</h3>
  </div>
</article>
