<section class="income-section">
  <h3>{{ incomeMode ? 'Income' : 'Spent' }}</h3>
  <form class='buttonWithText'>
    <div class='slider collapsed' [ngClass]="addClass()">
      <button
        mat-raised-button
        class="toggle income-btn-toggle"
        color="primary"
        aria-label="income"
        (click)="onToggle()">
        <h2>&#8376; {{ addValue() }}</h2>
      </button>

      <mat-form-field class="income-input" appearance="outline" floatLabel="always">
        <mat-label>{{ incomeMode ? 'Daily allowance' : 'Daily expenses' }}</mat-label>
        <input matInput type="number" placeholder="{{incomeMode ? '100' : '0'}}"  [formControl]="form()">
        <span matTextPrefix>&#8376;&nbsp;&nbsp;</span>
        <button
          matSuffix
          mat-mini-fab
          color="primary"
          class="input-btn-submit"
          class="submit"
          aria-label="submit"
          (click)="onSubmit()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</section>
